name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-release-executable:
    name: Build and release executable
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - windows
          - linux
          - darwin
        arch:
          - amd64
          - arm64
        exclude:
          - os: windows
            arch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Build binary
        working-directory: src
        run: |
          export GOOS=${{ matrix.os }}
          export GOARCH=${{ matrix.arch }}
          go build -ldflags "-s -w -X localapps-cli/constants.Version=${{ env.RELEASE_VERSION }}" -o ../localapps-cli-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.os == 'windows' && '.exe' || '' }}
      - name: Create release
        uses: ncipollo/release-action@v1.15.0
        with:
          tag: ${{ env.RELEASE_VERSION }}
          artifacts: localapps-cli-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.os == 'windows' && '.exe' || '' }}
          allowUpdates: true
